.pregunta {
    font-size: 20px;
    padding: 10px;
    align-items: center;
    display: flex;
    margin-left: 50px;
    width: 70%;
    background-color: rgb(247, 252, 255);
    height: 60px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid rgb(195, 195, 195);
}